# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with
# Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
NEXT_PUBLIC_CHEC_PUBLIC_KEY=pk_2306936d1f32912116a05e59c515a30d39dd2ad808ac1
# Set the environment for your application, e.g. "development"
NODE_ENV=development
# If you're using Stripe, add your publishable key here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY=sk_23069698e8a1046e47c89382b5091e86ba6c4ac5b952a
CHEC_API_URL=https://api.chec.io
